# Tarea 2 
## Autor: Mathias Cáceres Bustamante 
###Asignatura: Mineria de datos

## Ejercicio 1

Escribir un programa que solicite un número y calcule el cuadrado de ese número.
- Si el cuadrado es 100 o mayor, imprima el valor al cuadrado y la palabra 'grande'.
- Si el cuadrado está entre 50 y 99, imprima el valor al cuadrado y la palabra 'medio'.
- De lo contrario, simplemente imprima 'demasiado pequeño para molestarlo'.

In [ ]:

def cuadrado(x):
  if(x*x>=100):
    print("grande")
  elif(x*x>50 and x*x<99):
    print("medio")
  else:
    print("demasiado pequeño para molestarlo")

x=int(input("ingrese valor: "))
cuadrado(x)

ingrese valor: 5
demasiado pequeño para molestarlo

## Ejercicio 2

A continuación se muestra el código que crea una lista de cuatro elementos, representados como diccionarios que especifican el color y tamaño.

Añadir código para pedir un número, luego imprimir el color de todos elementos cuyo tamaño es mayor que ese número.

In [ ]:
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},\
         {'color':'green', 'size':15}, {'color':'yellow', 'size':6}]

In [ ]:
def colores(x):
  for i in range(4):
    if((items[i]['size'])>x):
      print(items[i]['color'])
  
x=int(input("ingrese valor: "))
colores(x)

ingrese valor: 8
red
green

## Ejercicio 3

Crear un bucle que solicite dos números, e imprima los colores de todos los elementos cuyo tamaño está entre los dos números, es decir, cuyo tamaño es mayor que el primer número e inferior al segundo número.

Si el segundo número del usuario es igual o menor que el primer número, el programa debe imprimir 'Hecho' y detenerse.

In [ ]:

def comparacion(x,y):
  if(x<y):
    for i in range(4):
      if( items[i]['size']>x and items[i]['size']<y ):
        print(items[i]['color'])
  else:
    print("hecho")
 

x=int(input("ingrese valor: "))
y=int(input("ingrese valor: "))
comparacion(x,y)

ingrese valor: 12
ingrese valor: 12
hecho

## Ejercicio 4 - [usar Dataframe]

### Leer el archivo Countries.csv en un dataframe.

### Imprimir una lista de los países que no tienen linea costerá y no estan en la EU, junto con sus puntos más altos, ordene de menor a mayor sus puntos más altos.

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
ruta = '/content/drive/My Drive/Mineria'

In [ ]:
f = open('%s/Countries.csv'%ruta,'rU')
countries = pd.read_csv(f)
countries.head()
countries[(countries.coastline=='yes') & (countries.EU=='no')][['country','coastline','highest','EU']]

       country coastline  highest  EU
0      Albania       yes     2764  no
17     Iceland       yes     2110  no
27  Montenegro       yes     2534  no
29      Norway       yes     2469  no
39      Turkey       yes     5137  no
40     Ukraine       yes     2061  no

## Ejercicio 5 - [usar Dataframe]

### Encontrar el punto medio, máximo y mínimo más alto [highest] de los países en la UE y no en la UE.

### Encontrar el punto medio, máximo y mínimo más alto [higest] de los países con y sin línea costera.

In [ ]:
f = open('%s/Countries.csv'%ruta,'rU')
countries = pd.read_csv(f)
countries.head()
print("pertenecientes a la union europea")
print("maximo highest ",countries['highest'].loc[countries.EU == 'yes'].max())
print("minimo highest ",countries['highest'].loc[countries.EU == 'yes'].min())
print("punto medio highest",countries['highest'].loc[countries.EU == 'yes'].mean())

print(" no pertenecientes a la union europea")
print("maximo highest ",countries['highest'].loc[countries.EU == 'no'].max())
print("minimo highest ",countries['highest'].loc[countries.EU == 'no'].min())
print("punto medio highest",countries['highest'].loc[countries.EU == 'no'].mean())

pertenecientes a la union europea
('maximo highest ', 4810)
('minimo highest ', 171)
('punto medio highest', 1968.148148148148)
 no pertenecientes a la union europea
('maximo highest ', 5137)
('minimo highest ', 345)
('punto medio highest', 2533.3333333333335)

## Ejercicio 6 - [usar Dataframe]

### Leer los jugadores y equipos en dataframes [Players.csv] y [Teams.csv].

In [ ]:
f = open('%s/Players.csv'%ruta,'rU')
players = pd.read_csv(f)
players.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

In [ ]:
f = open('%s/Teams.csv'%ruta,'rU')
teams= pd.read_csv(f)
teams.head()

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0

### Qué jugador en un equipo con "ou" en el nombre, jugó mas de 190 minutos e hizo más de 100 pases? Imprima el apellido del jugador.

In [ ]:
players['surname'].loc[(players.team.str.contains('ou')) & (players.minutes > 190) & (players.passes > 100)]

487          Masilela
488            Modise
496           Pienaar
499        Tshabalala
500         Cha Du-Ri
501    Cho Yong-Hyung
503      Ki Sung-Yong
506      Kim Jung-Woo
508    Lee Chung-Yong
510      Lee Jung-Soo
512     Lee Young-Pyo
515      Park Ji-Sung
Name: surname, dtype: object

### ¿Cuál es el promedio, máximo y mínimo de pases de los defensas y delanteros?

In [ ]:
print("ESTADISTICAS DEFENSAS")
print("Pases minimo de defensa: ", players['passes'].loc[players.position == 'defender'].min())
print("Pases maximo de defensa: ", players['passes'].loc[players.position == 'defender'].max())
print("Promedio de pases de defensas: ", players['passes'].loc[players.position == 'defender'].mean())
print("ESTADISTICAS DELANTEROS")
print("Pases minimo de delantero: ",  players['passes'].loc[players.position == 'fordward'].min())
print("Pases maximo de delantero: ", players['passes'].loc[players.position == 'fordward'].max())
print("Promedio de pases de delanteros: ", players['passes'].loc[players.position == 'fordward'].mean())

ESTADISTICAS DEFENSAS
('Pases minimo de defensa: ', 0)
('Pases maximo de defensa: ', 402)
('Promedio de pases de defensas: ', 102.6436170212766)
ESTADISTICAS DELANTEROS
('Pases minimo de delantero: ', nan)
('Pases maximo de delantero: ', nan)
('Promedio de pases de delanteros: ', nan)

### ¿Qué equipo tiene el mayor ratio de 'goalsFor' y 'goalsAgainst'? Imprimir sólo el nombre del equipo.

In [ ]:
print("Nombre del equipo con mayor ratio goalsFor: ",teams[teams.goalsFor == teams['goalsFor'].max()]['team'].iloc[0])
print("Nombre del equipo con mayor ratio goalsAgainst: ",teams[teams.goalsAgainst == teams['goalsAgainst'].max()]['team'].iloc[0])

('Nombre del equipo con mayor ratio goalsFor: ', 'Germany')
('Nombre del equipo con mayor ratio goalsAgainst: ', 'North Korea')

### ¿Cuántos jugadores que juegan en un equipo con ranking <5 jugaron más de 400 minutos?

In [ ]:
player_rank_team = players.merge(teams, on='team')
num_players = len((player_rank_team[(player_rank_team.ranking < 5) & (player_rank_team.minutes > 400)]).index)
print(num_players, 'Jugadores')

(26, 'Jugadores')

### Calcule por cada equipo la diferencia entre el jugador que da menos pases con el que da más pases. (use función groupby, agg con función lambda)

In [ ]:
def diferencia(row):
  return max(row)-min(row)

c=players.groupby(['team']).agg({'passes': lambda x: diferencia(x)})
c

              passes
team
Algeria          157
Argentina        313
Australia        146
Brazil           298
Cameroon         161
Chile            180
Denmark          174
England          225
France           118
Germany          418
Ghana            303
Greece           149
Honduras          85
Italy            200
Ivory Coast      195
Japan            147
Mexico           245
Netherlands      295
New Zealand      119
Nigeria           95
North Korea      117
Paraguay         211
Portugal         166
Serbia           162
Slovakia         202
Slovenia         159
South Africa     130
South Korea      184
Spain            562
Switzerland      138
USA              208
Uruguay          251

## Ejercicio 7  - [usar Dataframe]

Escribir un bucle que interactivamente le pide al usuario que introduzca un nombre de equipo.
- Si el equipo existe, liste todos los jugadores de ese equipo (con toda su información), ordenados por minutos descendentes.
- Si el equipo no existe, imprima "Este equipo no clasifico al mundial".
- Si se ingresa 'salir', termine el loop.

In [ ]:
i = 0
b= len(teams.index)
while (i==0):
  nombre=input("ingrese el nombre del equipo: Ej='Chile' ")
  if (nombre.title() == 'Salir'):
    print("hasta luego")
    break
  for a in range (0, b, 1):
    if(nombre.title()== teams.team.iloc[a] or nombre.upper()== teams.team.iloc[a]):
      print(players[players.team == teams.team.iloc[a]].sort_values(by = 'minutes', ascending=False), "\n")
      break
    elif(a==b-1 and teams.team.iloc[b-1]!= nombre.title()):
      print("Este equipo no clasifico al mundial \n")

ingrese el nombre del equipo: Ej='Chile' 'Chile'
(        surname   team    position  minutes  shots  passes  tackles  saves
96   Beausejour  Chile  midfielder      360      2     100        7      0
97        Bravo  Chile  goalkeeper      360      0      58        0      4
112     Sanchez  Chile     forward      335      7     113       13      0
104        Isla  Chile    defender      332      1     123       10      0
105        Jara  Chile    defender      308      1     187        8      0
115       Vidal  Chile    defender      306      6     178       17      0
110       Ponce  Chile    defender      270      2     113        4      0
98      Carmona  Chile  midfielder      270      1     175        9      0
106       Medel  Chile    defender      270      1     123        7      0
114    Valdivia  Chile     forward      222      3      91        3      0
101   Fernandez  Chile  midfielder      155      1      72        2      0
103    Gonzalez  Chile  midfielder      138     10      41        6      0
111       Suazo  Chile     forward      135      4      39        1      0
107      Millar  Chile  midfielder      125      1      80        3      0
102     Fuentes  Chile    defender       90      0      27        3      0
109     Paredes  Chile     forward       70      3      11        5      0
99    Contreras  Chile    defender       54      0      17        1      0
113       Tello  Chile  midfielder       45      0      29        1      0
100     Estrada  Chile  midfielder       37      1      16        2      0
108    Orellana  Chile     forward       25      1       7        0      0, '\n')